html {
	background: #ffffff;
	/*color: #515151;*/
	color: 32292f;
	font-family: 'Julius Sans One', sans-serif;
	/*font-weight: bold;*/
	font-size: 18px;
}

.contact-info {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

body {
	margin: 40px auto;
	width: 900px;

}

.title{
	display: flex;
	justify-content: center;
}

underline {
	border-bottom: solid 2px;
	border-bottom-color: #70abaf;
	text-decoration: none;
}

.flex-container {
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 900px;
	/*height: 600px;*/
	/*background-color: lightgrey;*/
}

.topBar {
	/*background: lightgrey;*/
	display: flex;
	align-items: center;
	width: 700px;
	margin-bottom: 0px;
	/*justify-content: space-between;*/
}

.img-circle {
	/*background: blue;*/
	border-radius: 50%;
	border: solid 2px;
	border-color: #70abaf;
}

.flex-row {
	display: flex;
	-webkit-justify-content: space-around;
	align-items: baseline;
	width: 700px;
	/*height: 150px;*/
	/*background-color: darkgrey;*/
	margin:5px;

}

.itemDescription {
		align-items: baseline;
	display: flex;
	flex-direction: row;
	flex-direction: row;
	/*order: 1;*/
	/*flex-direction: row;*/
	/*flex-grow: 1;*/
	margin:5px;
	width: 40%;
}
.item0 {
	/*order: 1;*/
	/*flex-grow: 1;*/
	/*margin:5px;*/
	width: 40%;
	margin: 10px;
}


.item1 {
	/*order: 2;*/
	/*flex-grow: 1;*/
	/*margin:5px;*/
	width: 60%;
	margin: 10px;

}

.item2 {
	order: 2;
	flex-grow: 3;
	margin:10px;
	width: 60%;
}


.item3 {
	display: flex;
	order: 1;
	/*flex-grow: 3;*/
	/*background-color: green;*/
	margin:10px;
	/*width: 60%;*/
	text-align: right;
}


.item4 {
	display: flex;
	/*background-color: red;*/
	order: 2;
	/*flex-grow: 3;*/
	margin:10px;
	/*width: 60%;*/
}

.item5 {
	display: flex;
	text-align: right;
	justify-content: center;
	width: 900px;
}

.letter {
	margin: 100px;
}

.img-circle {
	/*background: blue;*/
	border-radius: 50%;
	border: solid 2px;
	border-color: #70abaf;
}

b {
	font-weight: 501;
}